<!--
    <div>
     <form class="frm">
       <p class="card-description">
             Part(1) Details of the 
          </p>
       <div>
         <p class="card-description">
             organization paying the pension
          </p>
         <label for="" class="lbl">TIN </label>
         <input type="number" name="tin" class="inpt" style="margin-left:39.5%" placeholder="Enter Tin number">
       </div>
        <div>
         <label for="" class="lbl">Payment period</label>
         <input type="date" name="pp" class="inpt" style="margin-left:31.5%">
       </div>
         
        <p class="card-description">
             Part(2) Monthly aggregated account
        </p>
        <div>
         <label for="" class="lbl">This month, the number of paid workers paid</label>
         <input type="nmber" name="" class="inpt" style="margin-left:14%">
       </div>

        <div>
         <label for="" class="lbl">Gross wage of workers per month</label>
         <input type="number" name="" class="inpt" style="margin-left:20.8%">
       </div>
        <div>
         <label for="" class="lbl">Total Staff Pension Amount Monthly</label>
         <input type="number" name="" class="inpt" style="margin-left:19.8%">
       </div>
        <div>
         <label for="" class="lbl">Total Employer Pension Amount Monthly</label>
         <input type="number" name="" class="inpt" style="margin-left:17%">
       </div>
        <div>
         <label for="" class="lbl">Total pension's Pension Amount Monthly</label>
         <input type="number" name="" class="inpt" style="margin-left:17%">
       </div>

        <p class="card-description">
             Part(3) Detailed information on the termination 
        </p>
            <p class="card-description">
              of their employment contract this month
        </p>
      <div>
         <label for="" class="lbl">Employee's Tin Number </label>
         <input type="number" name="" class="inpt" style="margin-left:27.7%">
       </div>

        <div>
         <label for="" class="lbl">First Name</label>
         <input type="text" name="" class="inpt" style="margin-left:35.5%" placeholder="First Name">
       </div>
         <div>
         <label for="" class="lbl">Middle Name</label>
         <input type="text" name="" class="inpt" style="margin-left:33.8%" placeholder="Middle Name">
       </div>
         
       <div>
         <label for="" class="lbl">Last Name</label>
         <input type="text" name="" class="inpt" style="margin-left:35.5%" placeholder="Last Name">
       </div>
      <div class="btn-group btn-group-sm"> 	
      	<button type="button" class="btn btn-primary btn-block" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">Cancel</button>
      </div>
        
        
      <div class="btn-group btn-group-sm"> 	
      	<button type="button" class="btn btn-primary btn-block" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">Submit</button>
      </div>
     </form>
    </div>
 
-->
  
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding:1px;
  font-size: 75%;
}

tr:nth-child(even) {
  background-color: #dddddd;
  
}
.tbl{
  width: 80%;
  height:30%;
}
</style>
</head>
<body>

<h4>Pension for civils</h4>
<div class="tbl">
<table>
  <tr><td style="color:green; font-size:90%">Part(1)Details of the organization paying the pension</td></tr>
  <tr>
    <th>Lable descrption</th>
    <th style="width:15%">Value/Amount</th>
  </tr>
  <tr>
    
    <td>TIN Number</td>
    <td><input type="Number" name="tin"></td>
  </tr>
  <tr>
    
    <td>Payment period</td>
    <td><input type="text" name="vtgs"></td>
  </tr>
  <tr><td style="color:green; font-size:90%">Part(2)Monthly aggregated account</td></tr>
  <tr>
  
    
    <td>This month, the number of paid workers paid</td>
    <td><input type="text" name="npw"></td>
  </tr>
  <tr>
  
    <td>Gross wage of workers per month</td>
    <td><input type="text" name="vtgs"></td>
  </tr>
  <tr>
    
    <td>Total Staff Pension Amount Monthly</td>
    <td><input type="text" name="vtgs"></td>
  </tr><tr>
    
    <td>Total Employer Pension Amount Monthly</td>
    <td><input type="text" name="vtgs"></td>
  </tr>
  
  <tr>
    
    <td>Total pension's Pension Amount Monthly</td>
    <td><input type="text" name="vtgs"></td>
  </tr>
  <tr><td style="color:green; font-size:90%"> Part(3) Detailed information on the termination of their employment contract this month </td></tr>
  <tr>
    
    <td>Employee's Tin Number</td>
    <td><input type="text" name="vtgs"></td>
  </tr>
  <tr>
  
    <td>First Name</td>
    <td><input type="text" name="fn"></td>
  </tr>
  <tr>
    
    <td>Middle Name</td>
    <td><input type="text" name="mn"></td>
  </tr><tr>
    
    <td>Last Name</td>
    <td><input type="text" name="ln"></td>
  </tr>

  
  
  
</table>
<div class="btn-group btn-group-sm"> 	
      	<button type="button" class="btn btn-primary btn-block" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">Cancel</button>
      </div>
        
        
      <div class="btn-group btn-group-sm"> 	
      	<button type="button" class="btn btn-primary btn-block" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">Submit</button>
      </div>
</div>
</body>
</html>
