.lbl{
    font-size:12px;
     padding:-10px -10px;
}
.inpt{
    width:15%;
    padding: 0px;
    margin: 2px 0 2px 250px;
    min-height: 1%;
    margin-left: 4%;
}
.frm{
    height: 10%;
}
 div{
  margin-bottom:0.5px;
   padding:0px 0px;
}
.card-description{
 color:brown;
 font-style: italic;
 font-size: 100%;
}
