<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" href="index.html">
     <img src="assets/images/star.png" alt="logo" />
    </a>
    <a class="navbar-brand brand-logo-mini" href="index.html">
      <img src="assets/images/start.png" alt="logo" />
    </a>
  </div>

  <div class="dropdown" dropdown>
      <li class="dropdown" dropdown> 
        <a dropdownToggle class="pull-left text-left btn btn-setting dropdown-toggle"  data-toggle="dropdown"  aria-expanded="false"><i class="fa fa-cog"></i></a>
        <ul *dropdownMenu class="dropdown-menu"> 
            <li><a class="btn"><i  (click)="switchLanguage('am')" translate>am</i></a></li>
            <li><a class="btn"><i  (click)="switchLanguage('en')" translate>en</i></a></li>          
        </ul>
    </li>

  </div>
  
</nav>
