
<form #addVatForm="ngForm" class="form-horizontal">
 
  <table style="width: 85%">
    <th style="background-color:cornflowerblue; color: #ffffff" colspan="100">SCHEDULE A  EMPLOYMENT INCOME TAX DECLARATION</th>
   
   
    <tr>
      <td style="text-align: right">Basic Salary [25]</td>
      <td>
        <input type="number" class="form-control" id="BasicSalary" required [(ngModel)]="vat.valueOfTaxableGoodsAndSupplies" name="valueOfTaxableGoodsAndSupplies" #valueOfTaxableGoodsAndSupplies="ngModel"
          [disabled]="isDisabled" required> </td>
    </tr>
    <tr>
      <td style="text-align: right">Total Transportaion Allowance [30]</td>
      <td>
        <input type="number" class="form-control" id="valueOfZeroRatedGoods" required [(ngModel)]="vat.valueOfZeroRatedGoods" name="valueOfZeroRatedGoods"
          [disabled]="isDisabled" #valueOfZeroRatedGoods="ngModel">
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: right">Taxable Transportaion Allowance [35] </td>
      <td>
        <input type="number" class="form-control" id="vlueOfExemptSupplies" [(ngModel)]="vat.vlueOfExemptSupplies" name="vlueOfExemptSupplies"
          #vlueOfExemptSupplies="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>


    <tr>
      <td style="text-align: right">Over Time [40] </td>
      <td>
        <input type="number" class="form-control" id="vlueOfExemptSupplies" [(ngModel)]="vat.vlueOfExemptSupplies" name="vlueOfExemptSupplies"
          #vlueOfExemptSupplies="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>

    <tr>
      <td style="text-align: right">Other Taxable Benefits [45] </td>
      <td>
        <input type="number" class="form-control" id="vlueOfExemptSupplies" [(ngModel)]="vat.vlueOfExemptSupplies" name="vlueOfExemptSupplies"
          #vlueOfExemptSupplies="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>
     <tr>
      <td style="text-align: right">Taxable Income  [50] </td>
      <td>
        <input type="number" class="form-control" id="vlueOfExemptSupplies" [(ngModel)]="vat.vlueOfExemptSupplies" name="vlueOfExemptSupplies"
          #vlueOfExemptSupplies="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>

    <tr>
      <td style="text-align: right">Tax Withheld  [55] </td>
      <td>
        <input type="number" class="form-control" id="vlueOfExemptSupplies" [(ngModel)]="vat.vlueOfExemptSupplies" name="vlueOfExemptSupplies"
          #vlueOfExemptSupplies="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>

     <tr>
      <td style="text-align: right">Cost Sharing  [60] </td>
      <td>
        <input type="number" class="form-control" id="vlueOfExemptSupplies" [(ngModel)]="vat.vlueOfExemptSupplies" name="vlueOfExemptSupplies"
          #vlueOfExemptSupplies="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>
    
  </table>
   <table style="width: 85%">
   <div class="col-sm-1">

     <th>
       <tr>
       <td>
    <button type="button" class="btn btn-primary" (click)="addVat(); addVatForm.reset()" [disabled]="!addVatForm.form.valid">Save</button>
       </td>
    <td>
    <button type="button" class="btn btn-primary" (click)="addVat(); addVatForm.reset()" [disabled]="!addVatForm.form.valid">Back</button>
       </td>
    <td>
    <button type="button" class="btn btn-primary" (click)="addVat(); addVatForm.reset()" [disabled]="!addVatForm.form.valid">Next</button>
       </td>
       </tr>
     </th>

  </div>
 </table>

</form>