<div class="row">
  
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        
        <form class="form-sample">
          <p class="card-description">
             Registration
          </p>
          <div >
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" translate>First Name</label>
                <div class="col-sm-9">
                  <input  type="text" class="form-control" placeholder="First Name"/>
                </div>
              </div>
            </div>

             <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Last Name</label>
                <div class="col-sm-9">
                  <input  type="text" class="form-control" placeholder="Last Name" />
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">TIN</label>
                <div class="col-sm-9">
                  <input  type="number" class="form-control" placeholder="Customer's Tin" />
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Vat NO</label>
                <div class="col-sm-9">
                  <input  type="number" class="form-control" placeholder="Vat" />
                </div>
              </div>
            </div>
 <div class="btn-group btn-group-sm"> 	
        <button type="button" class="btn btn-primary btn-block"
        >Register</button>
      </div>
            
            

          </div>
   
        </form>
      </div>
    </div>
  </div> 
</div>
