<!--
  <html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding:1px;
  font-size: 75%;
}

tr:nth-child(even) {
  background-color: #dddddd;
  
}
.tbl{
  width: 80%;
  height:30%;
}
</style>
</head>
<body>

<h4>Cost-Sharing</h4>
<div class="tbl">
<table>
  <tr>
    <th>Lable descrption</th>
    <th style="width:15%">Value/Amount</th>
  </tr>
  <tr>
    
    <td>Employee's Tin Number</td>
    <td><input type="text" name="vtgs"></td>
  </tr>
  <tr>
  
    <td>First Name</td>
    <td><input type="text" name="fn"></td>
  </tr>
  <tr>
    
    <td>Middle Name</td>
    <td><input type="text" name="mn"></td>
  </tr><tr>
    
    <td>Last Name</td>
    <td><input type="text" name="ln"></td>
  </tr>
<tr>
    
    <td>Number of workers paid for this month</td>
    <td><input type="text" name="nw"></td>
  </tr>

  <tr>
    
    <td>The gross taxable income for the month</td>
    <td><input type="text" name="nw"></td>
  </tr>
  
  <tr>
    
    <td>Cost sharing costs</td>
    <td><input type="text" name="nw"></td>
  </tr>
  
  
  
</table>
<div class="btn-group btn-group-sm"> 	
      	<button type="button" class="btn btn-primary btn-block" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">Cancel</button>
      </div>
        
        
      <div class="btn-group btn-group-sm"> 	
      	<button type="button" class="btn btn-primary btn-block" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">Submit</button>
      </div>
</div>
</body>
</html>
-->






<form #addVatForm="ngForm" class="form-horizontal">
  
  <table style="width: 85%">
    <th style="background-color: cornflowerblue; height: 30px; color: #ffffff" colspan="100"> COST-SHARING  </th>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr> 
  </table>
  <table style="width: 85%">
    <tr>
      <td style="text-align: right" translate>Employee's Tin Number:</td>
      <td>
        <input type="number" class="form-control" id="valueOfTaxableGoodsAndSupplies" required [(ngModel)]="vat.valueOfTaxableGoodsAndSupplies" name="valueOfTaxableGoodsAndSupplies" #valueOfTaxableGoodsAndSupplies="ngModel"
          [disabled]="isDisabled"> </td>
    </tr>
    <tr>
      <td style="text-align: right" translate>First Name</td>
      <td>
        <input type="text" class="form-control" id="valueOfZeroRatedGoods" required [(ngModel)]="vat.valueOfZeroRatedGoods" name="valueOfZeroRatedGoods"
          [disabled]="isDisabled" #valueOfZeroRatedGoods="ngModel">
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Middle Name</td>
      <td>
        <input type="text" class="form-control" id="vlueOfExemptSupplies" [(ngModel)]="vat.vlueOfExemptSupplies" name="vlueOfExemptSupplies"
          #vlueOfExemptSupplies="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Last Name</td>
      <td>
        <input type="text" class="form-control input-group-sm" id="valueOfRemittedSupplies" [(ngModel)]="vat.valueOfRemittedSupplies"
          name="valueOfRemittedSupplies" #valueOfRemittedSupplies="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>

    <tr>
      <td style="text-align: right" translate>Number of workers paid for this month:</td>
      <td>
        <input type="number" class="form-control input-group-sm" id="valueOfRemittedSupplies" [(ngModel)]="vat.valueOfRemittedSupplies"
          name="valueOfRemittedSupplies" #valueOfRemittedSupplies="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>
   
   <tr>
      <td style="text-align: right" translate>The gross taxable income for the month:</td>
      <td>
        <input type="number" class="form-control input-group-sm" id="valueOfRemittedSupplies" [(ngModel)]="vat.valueOfRemittedSupplies"
          name="valueOfRemittedSupplies" #valueOfRemittedSupplies="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Cost-Sharing Costs:</td>
      <td>
        <input type="number" class="form-control input-group-sm" id="valueOfRemittedSupplies" [(ngModel)]="vat.valueOfRemittedSupplies"
          name="valueOfRemittedSupplies" #valueOfRemittedSupplies="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>
     
  </table>
  <div class="col-sm-1">
    <button type="button" class="btn btn-primary" (click)="addVat(); addVatForm.reset()" [disabled]="!addVatForm.form.valid" translate>Submit</button>

  </div>
</form>