<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face28.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Guesh Lilay</p>
            <div>
              <small class="designation text-muted">Admin</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <button class="btn btn-success btn-block" translate>E-FILING
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title" translate>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/register" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title">REGISTER</span>
      </a>
    </li>
  <!--  <li class="nav-item">
      <a class="nav-link" routerLink="/forms" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title">VAT-DECLARATION</span>
      </a>
    </li> -->
   
    <li class="nav-item">
      <a class="nav-link" routerLink="/withholding-new" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title" translate>WITHHOLDING</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/newVat" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title" translate>VAT-DECLARATION</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/employment-in-tax-declaration" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title" translate>Income Tax</span>
      </a>
    </li>
  <!--  <li class="nav-item">
      <a class="nav-link" routerLink="/pension-for-private" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title">Pension For Private</span>
      </a>
    </li>
     <li class="nav-item">
      <a class="nav-link" routerLink="/pension-for-civil" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title">Pension For Civil Services</span>
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/pension" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title" translate>Pension</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cost-sharing" routerLinkActive="active">
        <i class="menu-icon mdi mdi-notification-clear-all"></i>
        <span class="menu-title" translate>Cost-Sharing</span>
      </a>
    </li>
    
  </ul>
</nav>
