<form #addWithholdingForm="ngForm" class="form-horizontal">
  <table style="width: 85%">
    <th
      style="background-color: cornflowerblue; height: 30px; color: #ffffff"
      colspan="100"
      translate>
      Withholding
    </th>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
   <!--  <tr>
      <td style="text-align: right" translate>Total Number of Withholdees</td>
      <td>
        <input type="number" name="totalNumberofWithholdesForthisperiod" id="totalNumberofWithholdesForthisperiod" [(ngModel)]="withholding.totalNumberofWithholdesForthisperiod"
         #totalNumberofWithholdesForthisperiod="ngModel"
        />
      </td>
    </tr>-->
    <tr>
      <td style="text-align: right" translate>Total Taxable Amount For this Tax Period</td>
      <td>
        <input type="number" name="totalTaxWithheld" id="totalTaxWithheld" [(ngModel)]="withholding.totalTaxWithheld" #totalTaxWithheld="ngModel"
        />
      </td>
    </tr> 
   <!--  <tr>
      <td style="text-align: right" translate>Total Tax Withheld For this Period</td>
      <td>
        <input type="number" name="tin" id="tin" [(ngModel)]="withholding.tin"
        #tin="ngModel"
       />
      </td>
    </tr> -->
  </table>

  <table style="width: 85%">
    <th
      style="background-color: cornflowerblue; height: 30px; color: #ffffff"
      colspan="100"
    ></th>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr>
    <td>
      <button type="button" class="btn btn-primary" (click)="addWithhold(); addWithholdingForm.reset()"  translate>Submit</button>
    </td>
    <td>
      <button
      type="button"
      class="btn btn-primary"
      disabled="true"
      >
      upload
    </button>
  </td>
    </tr>
  </table>
</form>
