<!--vat Declaration -->


<form #addVatForm="ngForm" class="form-horizontal">
  
  <table style="width: 85%">
    <th style="background-color: cornflowerblue; height: 30px; color: #ffffff" colspan="100" translate> PENSION FOR CIVIL SERVICE </th>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr> 
  </table>
  <table style="width: 85%">
    <tr>
      <td style="text-align: right" translate>TIN NUMBER</td>
      <td>
        <input type="number" class="form-control" id="valueOfTaxableGoodsAndSupplies" required [(ngModel)]="vat.valueOfTaxableGoodsAndSupplies" name="valueOfTaxableGoodsAndSupplies" #valueOfTaxableGoodsAndSupplies="ngModel"
          [disabled]="isDisabled"> </td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Payment period</td>
      <td>
        <input type="date" class="form-control" id="valueOfZeroRatedGoods" required [(ngModel)]="vat.valueOfZeroRatedGoods" name="valueOfZeroRatedGoods"
          [disabled]="isDisabled" #valueOfZeroRatedGoods="ngModel">
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: right" translate>This month the number of paid workers paid</td>
      <td>
        <input type="number" class="form-control" id="vlueOfExemptSupplies" [(ngModel)]="vat.vlueOfExemptSupplies" name="vlueOfExemptSupplies"
          #vlueOfExemptSupplies="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Gross wage of workers per month</td>
      <td>
        <input type="number" class="form-control input-group-sm" id="valueOfRemittedSupplies" [(ngModel)]="vat.valueOfRemittedSupplies"
          name="valueOfRemittedSupplies" #valueOfRemittedSupplies="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Total Staff Pension Amount Monthly</td>

     <td>
        <input type="number" class="form-control input-group-sm" id="valueOfRemittedSupplies" [(ngModel)]="vat.valueOfRemittedSupplies"
          name="valueOfRemittedSupplies" #valueOfRemittedSupplies="ngModel" [disabled]="isDisabled">
      </td>
    </tr>
       <tr>
      <td style="text-align: right" translate>Total Employer Pension Amount Monthly</td>

     <td>
        <input type="number" class="form-control input-group-sm" id="valueOfRemittedSupplies" [(ngModel)]="vat.valueOfRemittedSupplies"
          name="valueOfRemittedSupplies" #valueOfRemittedSupplies="ngModel" [disabled]="isDisabled">
      </td>
    </tr>
       <tr>
      <td style="text-align: right" translate>Total pension's Pension Amount Monthly</td>

     <td>
        <input type="number" class="form-control input-group-sm" id="valueOfRemittedSupplies" [(ngModel)]="vat.valueOfRemittedSupplies"
          name="valueOfRemittedSupplies" #valueOfRemittedSupplies="ngModel" [disabled]="isDisabled">
      </td>
    </tr>
     <tr>
      <td style="text-align: right" translate>Employee's Tin Number</td>

     <td>
        <input type="number" class="form-control input-group-sm" id="valueOfRemittedSupplies" [(ngModel)]="vat.valueOfRemittedSupplies"
          name="valueOfRemittedSupplies" #valueOfRemittedSupplies="ngModel" [disabled]="isDisabled">
      </td>
    </tr>
     <tr>
      <td style="text-align: right" translate>First Name</td>

     <td>
        <input type="number" class="form-control input-group-sm" id="valueOfRemittedSupplies" [(ngModel)]="vat.valueOfRemittedSupplies"
          name="valueOfRemittedSupplies" #valueOfRemittedSupplies="ngModel" [disabled]="isDisabled">
      </td>
    </tr>
     <tr>
      <td style="text-align: right" translate>Middle Name</td>

     <td>
        <input type="number" class="form-control input-group-sm" id="valueOfRemittedSupplies" [(ngModel)]="vat.valueOfRemittedSupplies"
          name="valueOfRemittedSupplies" #valueOfRemittedSupplies="ngModel" [disabled]="isDisabled">
      </td>
    </tr>
     <tr>
      <td style="text-align: right" translate>Last Name</td>

     <td>
        <input type="number" class="form-control input-group-sm" id="valueOfRemittedSupplies" [(ngModel)]="vat.valueOfRemittedSupplies"
          name="valueOfRemittedSupplies" #valueOfRemittedSupplies="ngModel" [disabled]="isDisabled">
      </td>
    </tr>
  </table>
  <div class="col-sm-1">
    <button type="button" class="btn btn-primary"  translate>Submit</button>

  </div>

</form>
<!--<div class="column">
  <div class="form-inline">
    <label for="valueOfTaxableGoodsAndSupplies" class="control-label col-sm-7 "> Value Of Taxable Goods And Supplies [5] </label>

    <div class="col-sm-1">

    </div>
  </div>
  <div class="form-inline">
    <label for="valueOfZeroRatedGoods" class="control-label col-sm-7">Zero-Rated Sales/Suplier [15] </label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="valueOfZeroRatedGoods" required [(ngModel)]="vat.valueOfZeroRatedGoods" name="valueOfZeroRatedGoods"
        #valueOfZeroRatedGoods="ngModel">
    </div>
  </div>

  <div class="form-inline">
    <label for="vlueOfExemptSupplies" class="control-label col-sm-7">Tax-Exempt Sales/Supplies [20]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="vlueOfExemptSupplies" [(ngModel)]="vat.vlueOfExemptSupplies" name="vlueOfExemptSupplies"
        #vlueOfExemptSupplies="ngModel">
    </div>
  </div>

  <div class="form-inline ">
    <label for="valueOfRemittedSupplies" class="control-label col-sm-7">Remitted Supplies [25]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control input-group-sm" id="valueOfRemittedSupplies" [(ngModel)]="vat.valueOfRemittedSupplies"
        name="valueOfRemittedSupplies" #valueOfRemittedSupplies="ngModel">
    </div>
  </div>

  <div class="form-inline">
    <label for="totalSupplies" class="control-label col-sm-7">Total Supplies/Sales [30]</label>
    <div class="col-sm-1">
      <input type="number" disabled="true" placeholder="Line[5+15+20+25]" class="form-control" id="totalSupplies" [(ngModel)]="vat.totalSupplies"
        name="totalSupplies" #totalSupplies="ngModel">
    </div>
  </div>

  <div class="form-inline">
    <label for="valueOfLocalPurchasesInput" class="control-label col-sm-7">Local Purchases Input [50]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="valueOfLocalPurchasesInput" [(ngModel)]="vat.valueOfLocalPurchasesInput" name="valueOfLocalPurchasesInput"
        #valueOfLocalPurchasesInput="ngModel">
    </div>
  </div>

  <div class="form-inline">
    <label for="valueOfImportedInputs" class="control-label col-sm-7">Imported Inputs [60]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="valueOfImportedInputs" [(ngModel)]="vat.valueOfImportedInputs" name="valueOfImportedInputs"
        #valueOfImportedInputs="ngModel">
    </div>
  </div>

  <div class="form-inline ">
    <label for="valueOfGeneralExpenseInputs" class="control-label col-sm-7">General Expense Inputs [70]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="valueOfGeneralExpenseInputs" [(ngModel)]="vat.valueOfGeneralExpenseInputs"
        name="valueOfGeneralExpenseInputs" #valueOfGeneralExpenseInputs="ngModel">
    </div>
  </div>

  <div class="form-inline">
    <label for="valueOfPurchasesWithNoVat" class="control-label col-sm-7">Purchases With No Vat [80]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="valueOfPurchasesWithNoVat" [(ngModel)]="vat.valueOfPurchasesWithNoVat" name="valueOfPurchasesWithNoVat"
        #valueOfPurchasesWithNoVat="ngModel">
    </div>
  </div>

  <div class="form-inline">
    <label for="valueOfTotalInputs" class="control-label col-sm-7">Value Of Total Inputs [85] </label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="valueOfTotalInputs" placeholder="[Lines 50+60+70+80]" [(ngModel)]="vat.valueOfTotalInputs"
        name="valueOfTotalInputs" #valueOfTotalInputs="ngModel">
    </div>
  </div>
  <div class="form-inline">
    <label for="valueOfTaxableInputs" class="control-label col-sm-7">Value Of Taxable Inputs [90]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" placeholder=" [Lines 50+60+70]" id="valueOfTaxableInputs" [(ngModel)]="vat.valueOfTaxableInputs"
        name="valueOfTaxableInputs" #valueOfTaxableInputs="ngModel">
    </div>
  </div>
  <div class="form-inline">
    <label for="netVatDueForMonth" class="control-label col-sm-7">Vat Due For Month [110]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="netVatDueForMonth" placeholder="Line 30 - Line 90" [(ngModel)]="vat.netVatDueForMonth"
        name="netVatDueForMonth" #netVatDueForMonth="ngModel">
    </div>
  </div>
  <div class="form-inline">
    <label for="otherCreditsForMonth" class="control-label col-sm-7">Other Credits For Month [120]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="otherCreditsForMonth" [(ngModel)]="vat.otherCreditsForMonth" name="otherCreditsForMonth"
        #otherCreditsForMonth="ngModel">
    </div>
  </div>
  <div class="form-inline">

    <label for="creditCarriedForwardFromPreviousMonth" class="control-label col-sm-7">Credits Carried Forward From Previous Month [125]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="creditCarriedForwardFromPreviousMonth" [(ngModel)]="vat.oreditCarriedForwardFromPreviousMonth"
        name="creditCarriedForwardFromPreviousMonth" #creditCarriedForwardFromPreviousMonth="ngModel">
    </div>
  </div>

  <div class="form-inline">

    <label for="creditAvailableForcarryForward" class="control-label col-sm-7">CreditAvailable For Carry Forward [160]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="creditAvailableForcarryForward" [(ngModel)]="vat.creditAvailableForcarryForward"
        name="creditAvailableForcarryForward" #creditAvailableForcarryForward="ngModel">
    </div>
  </div>

  <div class="form-inline">

    <label for="VatwithholdingByGovernmentAgencies" class="control-label col-sm-7"> VAT withholding by Government Agencies [130]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="VatwithholdingByGovernmentAgencies" [(ngModel)]="vat.VatwithholdingByGovernmentAgencies"
        name="VatwithholdingByGovernmentAgencies" #VatwithholdingByGovernmentAgencies="ngModel">
    </div>
  </div>
  <div class="form-inline">

    <label for="VATonGovernmentVouchers" class="control-label col-sm-7"> VAT on Government Vouchers [140]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="VATonGovernmentVouchers" [(ngModel)]="vat.VATonGovernmentVouchers" name="VATonGovernmentVouchers"
        #VATonGovernmentVouchers="ngModel">
    </div>
  </div>
  <div class="form-inline">

    <label for="amountToBePaid" class="control-label col-sm-7">Amount To Be Paid [150]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="amountToBePaid" [(ngModel)]="vat.amountToBePaid" name="amountToBePaid" #amountToBePaid="ngModel">
    </div>
  </div>
  <div class="form-inline">
    <label class="control-label col-sm-7"></label>
    <div class="col-sm-1">
      <button type="button" class="btn btn-primary" (click)="addVat(); addVatForm.reset()" [disabled]="!addVatForm.form.valid">Submit</button>
    </div>
  </div>
  <br/>
</div>

<div class="column">
  <div class="form-inline">
    <label for="outPutVat" class="control-label col-sm-7 "> Out Put Vat [10] </label>

    <div class="col-sm-1">

    </div>
  </div>
  <div class="form-inline">
    <label for="vatChargeForThisPeriod" class="control-label col-sm-7">Out Put Vat [35]</label>
    <div class="col-sm-1">
      <input type="number" disabled="true" class="form-control" placeholder="=[10]" id="vatChargeForThisPeriod" [(ngModel)]="vat.vatChargeForThisPeriod"
        name="vatChargeForThisPeriod" #vatChargeForThisPeriod="ngModel">
    </div>
  </div>
  <div class="form-inline">

    <label for="vatOnLocalPurchaseInput" class="control-label col-sm-7">Vat On Local Purchase Input [55]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="vatOnLocalPurchaseInput" [(ngModel)]="vat.vatOnLocalPurchaseInput" name="vatOnLocalPurchaseInput"
        #vatOnLocalPurchaseInput="ngModel">
    </div>
  </div>
  <div class="form-inline">
    <label for="vatOnInportedInputs" class="control-label col-sm-7">Vat On Imported Inputs [65]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="vatOnInportedInputs" [(ngModel)]="vat.vatOnInportedInputs" name="vatOnInportedInputs"
        #vatOnInportedInputs="ngModel">
    </div>
  </div>

  <div class="form-inline">

    <label for="vatOnGeneralExpenseInputs" class="control-label col-sm-7">Vat On General Expense Inputs [75]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="vatOnGeneralExpenseInputs" [(ngModel)]="vat.vatOnGeneralExpenseInputs" name="vatOnGeneralExpenseInputs"
        #vatOnGeneralExpenseInputs="ngModel">
    </div>
  </div>
  <div class="form-inline">

    <label for="TotalInputTaxCredit" class="control-label col-sm-7">Total Input Tax Credit [95]</label>
    <div class="col-sm-2">
      <input type="number" class="form-control" id="TotalInputTaxCredit" [(ngModel)]="vat.TotalInputTaxCredit" name="TotalInputTaxCredit"
        #TotalInputTaxCredit="ngModel">
    </div>
  </div>
</div>-->