.column {
  float: left;
  width: 50%;
}
.input{
  padding: 50%;
}
th, td {
  padding: 5px;
  text-align: left;
  width: 50px;
  vertical-align: bottom;
  width: 700px;
}
.tr:hover {background-color: #f5f5f5;}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
