<!--<div class="row">
  
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        
        <form class="form-sample">
          <p class="card-description">
             Withholding
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Withhlodee TIN :</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" placeholder="Withhlodee Tin"/>
                </div>
              </div>
            </div>

             <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tax withheld ((F)x2%):</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" placeholder="tax withheld" />
                </div>
              </div>
            </div>
            

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Number :</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" placeholder="num" />
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date :</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control" placeholder="time" />
                </div>
              </div>
            </div>
 <div class="btn-group btn-group-sm"> 	
      	<button type="button" class="btn btn-primary btn-block" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">submit</button>
      </div>
            
            

          </div>
   
        </form>
      </div>
    </div>
  </div> 
</div>
-->

<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding:1px;
  font-size: 60%;
}

tr:nth-child(even) {
  background-color: #dddddd;
  
}
.tbl{
  width: 80%;
  height:30%;
}
</style>
</head>
<body>

<h4>Withholding</h4>
<div class="tbl">
<table>
  <tr>
    <th>Lable descrption</th>
    <th style="width:15%">Value/Amount</th>
  </tr>
  <tr>
    
    <td>Withhlodee TIN :</td>
    <td><input type="Number" name="tin"></td>
  </tr>
  <tr>
    
    <td>Tax withheld ((F)x2%):</td>
    <td><input type="text" name="vtgs"></td>
  </tr>
  <tr>
  
    
    <td>Number :</td>
    <td><input type="text" name="npw"></td>
  </tr>
  <tr>
  
    <td>Date :</td>
    <td><input type="date" name="vtgs"></td>
  </tr>
  

  
  
  
</table>
<div class="btn-group btn-group-sm"> 	
      	<button type="button" class="btn btn-primary btn-block" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">Cancel</button>
      </div>
        
        
      <div class="btn-group btn-group-sm"> 	
      	<button type="button" class="btn btn-primary btn-block" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">Submit</button>
      </div>
</div>
</body>
</html>
