.lbl{
    font-size:12px;
     padding:-10px -10px;
}
.inpt{
    width:15%;
    padding: 0px;
    margin: 2px 0 2px 250px;
    margin-left: 4%;
}
.frm{
    height: 10%;
}
 div{
  margin-bottom:0.5px;
   padding:0px 0px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding:1px;
    font-size: 60%;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    
  }
  .tbl{
    width: 80%;
    height:30%;
  }
  .column{
    column-width: 100%;
  }
