<!--
    <div>
     <form class="frm">
       <div>
         <label for="" class="lbl">Value Of Taxable Goods And Supplies</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:30%" >
       </div>
        <div>
         <label for="" class="lbl">Value Of ZeroRated Goods</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:36.8%">
       </div>
        <div>
         <label for="" class="lbl">Value Of Exempt Supplies</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:37.5%">
       </div>
        <div>
         <label for="" class="lbl">Value Of Remitted Supplies</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:36.5%">
       </div>
        <div>
         <label for="" class="lbl">Total Supplies/Sales</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:41%">
       </div>
        <div>
         <label for="" class="lbl">Vat Charge for this period</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:37.2%">
       </div>
        <div>
         <label for="" class="lbl">Value Of Local Purchases Input</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:34%">
       </div>
        <div>
         <label for="" class="lbl">Value Of Imported Inputs</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:37.7%">
       </div>
        <div>
         <label for="" class="lbl">Value Of General Expence Inputs</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:33%">
       </div>
        <div>
         <label for="" class="lbl">Value Of Purchases with no VAT</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:33.7%">
       </div>
        <div>
         <label for="" class="lbl">Value Of Total Inputs</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:40.5%">
       </div>
        <div>
         <label for="" class="lbl">Value Of Taxable Inputs</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:38.6%">
       </div>
        <div>
         <label for="" class="lbl">Net Vat due for Month</label>
         <input type="number" name="vtgs" class="inpt"style="margin-left:39.8%">
       </div>
        <div>
         <label for="" class="lbl">Vat Credit for Month</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:40.7%">
       </div>
        <div>
         <label for="" class="lbl">Other Credit for Month</label>
         <input type="number" name="vtgs" class="inpt"style="margin-left:39.5%">
       </div>
        <div>
         <label for="" class="lbl">Credit Carried forward from previous month</label>
         <input type="number" name="vtgs" class="inpt"style="margin-left:25.6%">
       </div>
        <div>
         <label for="" class="lbl">Credit Available for carry forward</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:32.5%">
       </div>
        <div>
         <label for="" class="lbl">Vat on Local Purchases</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:39%">
       </div>
        <div>
         <label for="" class="lbl">Vat on Imported Inputs</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:39%">
       </div>
        <div>
         <label for="" class="lbl">Vat on General Expence</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:38.5%">
       </div>
        <div>
         <label for="" class="lbl">Total Inputs Tax Credit</label>
         <input type="number" name="vtgs" class="inpt" style="margin-left:39.5%">
       </div>
        <div class="btn-group btn-group-sm"> 	
      	<button type="button" class="btn btn-primary btn-block" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">Cancel</button>
      </div>
        <div class="btn-group btn-group-sm"> 	
      	<button type="submit" class="btn btn-primary btn-block" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">Submit</button>
      </div>
     </form>
    </div>
 -->
<html>

<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 1px;
      font-size: 60%;
    }

    tr:nth-child(even) {
      background-color: #dddddd;

    }

    .tbl {
      width: 80%;
      height: 30%;
    }
  </style>
</head>

<body>
  <form name="declaration" method="POST">
    <h4>VAT Declaration</h4>
    <div class="tbl">
      <table>
        <tr>
          <th style="width:10%">Line Number</th>
          <th>Lable descrption</th>
          <th style="width:15%">Value/Amount</th>
        </tr>
        <tr>
          <td>5 </td>
          <td>Value Of Taxable Goods And Supplies</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>
        <tr>
          <td>10 </td>
          <td>Value Of ZeroRated Goods</td>
          <td>
            <input id="vat.outPutVat" type="number" placeholder="15 % of Line 5 "  required [(ngModel)]="vat.outPutVat" name="outPutVat" #outPutVat="ngModel"
              value="{{vat.valueOfTaxableGoodsAndSupplies * 0.15}}">
          </td>
        </tr>
        <tr>
          <td>20 </td>
          <td>Value Of Exempt Supplies</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>
        <tr>
          <td>25 </td>
          <td>Value Of Remitted Supplies</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>
        <tr>
          <td>30 </td>
          <td>Total Supplies/Sales</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>
        <tr>
          <td>35 </td>
          <td>Vat Charge for this period</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>

        <tr>
          <td>50 </td>
          <td>Value Of Local Purchases Input</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>

        <tr>
          <td>60 </td>
          <td>Value Of Imported Inputs</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>
        <tr>
          <td>70 </td>
          <td>Value Of General Expence Inputs</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>
        <tr>
          <td>80 </td>
          <td>Value Of Purchases with no VAT</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>
        <tr>
          <td>85 </td>
          <td>Value Of Total Inputs</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>
        <tr>
          <td>90 </td>
          <td>Value Of Taxable Inputs</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>
        <tr>
          <td>110 </td>
          <td>Net Vat due for Month</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>
        <tr>
          <td>115 </td>
          <td>Vat Credit for Month</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>

        <tr>
          <td>120 </td>
          <td>Other Credit for Month</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>

        <tr>
          <td>125 </td>
          <td>Credit Carried forward from previous month</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>
        <tr>
          <td> </td>
          <td>Credit Available for carry forward</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>

        <tr>
          <td>55 </td>
          <td>Vat on Local Purchases</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>
        <tr>
          <td>65 </td>
          <td>Vat on Imported Inputs</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>

        <tr>
          <td>75 </td>
          <td>Vat on General Expence</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>
        <tr>
          <td>95 </td>
          <td>Total Inputs Tax Credit</td>
          <td>
            <input type="text" name="vtgs">
          </td>
        </tr>
        <tr>
          <td>
            <button type="submit" class="btn btn-primary btn-block" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">Submit</button>
          </td>

        </tr>


      </table>
    </div>
  </form>
</body>

</html>