<!--vat Declaration -->


<form #addVatForm="ngForm" class="form-horizontal">
  <table style="width: 85%">
    <th style="background-color: cornflowerblue; height: 30px; color: #ffffff" colspan="100"  translate>VALUE ADDED TAX DECLARATION</th>
    
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td style="text-align: right" translate> Date of filling </td>
      <td>
        <input type="date" name="dateOfFilling" id="dateOfFilling" [(ngModel)]="vat.dateOfFilling" #dateOfFilling="ngModel" >
      </td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Tax period</td>
      <td>
         <input aria-placeholder="From" type="date" name="date1" id="date1">
      </td>
      <td>
         <input type="date" name="date2" id="date2">
      </td>
    </tr>
  </table>
  <table style="width: 85%">
    <th style="background-color: cornflowerblue; height: 30px; color: #ffffff" colspan="100" translate>NIL FILLER DECLARATION</th>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td translate>Are You a NIL filer? If Yes check on the check box</td>
      <td>
        <input type="checkbox" name="Check" id="Check" (click)=" triggerSomeEvent()">
      </td>
    </tr>

  </table>
  <table style="width: 85%">
    <th style="background-color:cornflowerblue; color: #ffffff" colspan="100" translate>Calculation of Output Tax</th>
    <tr>
      <th></th>
      <th translate>TOTAL AMOUNT</th>
      <th translate>OUTPUT VAT</th>
    </tr>
    <tr>
      <td style="text-align: right" translate>Value Of Taxable Goods And Supplies[{{vTaxGAndSupplies}}]</td>
      <td>
        <input type="number" class="form-control" id="valueOfTaxableGoodsAndSupplies" required  [(ngModel)]="vat.valueOfTaxableGoodsAndSupplies" name="valueOfTaxableGoodsAndSupplies" #valueOfTaxableGoodsAndSupplies="ngModel"
          [disabled]="isDisabled"> </td>
      <td>
        <input type="number" disabled="true" class="form-control" placeholder="15 % of Line 5 " id="outPutVat"  [(ngModel)]="vat.outPutVat"
          name="outPutVat" #outPutVat="ngModel" value="{{calculateStuff()}}">
      </td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Zero-Rated Sales/Suplier [15]</td>
      <td>
        <input type="number" class="form-control" id="valueOfZeroRatedGoods"  [(ngModel)]="vat.valueOfZeroRatedGoods" name="valueOfZeroRatedGoods"
          [disabled]="isDisabled" #valueOfZeroRatedGoods="ngModel">
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Tax-Exempt Sales/Supplies [20]</td>
      <td>
        <input type="number" class="form-control" id="vlueOfExemptSupplies" [(ngModel)]="vat.vlueOfExemptSupplies" name="vlueOfExemptSupplies"
          #vlueOfExemptSupplies="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Remitted Supplies [25]</td>
      <td>
        <input type="number" class="form-control input-group-sm" id="valueOfRemittedSupplies" [(ngModel)]="vat.valueOfRemittedSupplies"
          name="valueOfRemittedSupplies" #valueOfRemittedSupplies="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Total Supplies/Sales [30]</td>
      <td>
        <input type="number" disabled="true" placeholder="Line[5+15+20+25]" class="form-control" id="totalSupplies" [(ngModel)]="vat.totalSupplies"
          name="totalSupplies" value="{{calculate()}}"
          #totalSupplies="ngModel">
      </td>
      <td>
        <input type="number" disabled="true" class="form-control" placeholder="=[10]" id="vatChargeForThisPeriod" [(ngModel)]="vat.vatChargeForThisPeriod"
          name="vatChargeForThisPeriod" value="{{vat.valueOfTaxableGoodsAndSupplies * 0.15}}" #vatChargeForThisPeriod="ngModel">
      </td>
    </tr>
  </table>
  <table style="width: 85%">
    <th style="background-color:cornflowerblue; height:5% ; color: #ffffff" colspan="100" translate>Calculation of Input Tax</th>
    <tr>
      <th></th>
      <th translate>TOTAL AMOUNT</th>
      <th translate>INPUT VAT</th>
    </tr>
    <tr>
      <td style="text-align: right" translate>Local Purchases Input [50]</td>
      <td>
        <input type="number" class="form-control" id="valueOfLocalPurchasesInput" [(ngModel)]="vat.valueOfLocalPurchasesInput" name="valueOfLocalPurchasesInput"
          #valueOfLocalPurchasesInput="ngModel" [disabled]="isDisabled"> </td>
      <td>
        <input type="number" class="form-control" id="vatOnLocalPurchaseInput" [(ngModel)]="vat.vatOnLocalPurchaseInput" name="vatOnLocalPurchaseInput"
          value="{{vat.valueOfLocalPurchasesInput * 0.15}}" #vatOnLocalPurchaseInput="ngModel">
      </td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Imported Inputs [60]</td>
      <td>
        <input type="number" class="form-control" id="valueOfImportedInputs" [(ngModel)]="vat.valueOfImportedInputs" name="valueOfImportedInputs"
          #valueOfImportedInputs="ngModel" [disabled]="isDisabled">
      </td>
      <td>
        <input type="number" disabled="true" class="form-control" id="vatOnInportedInputs" [(ngModel)]="vat.vatOnInportedInputs"
          name="vatOnInportedInputs" value="{{vat.valueOfImportedInputs * 0.15}}" #vatOnInportedInputs="ngModel">
      </td>
    </tr>
    <tr>
      <td style="text-align: right" translate>General Expense Inputs [70]</td>
      <td>
        <input type="number" class="form-control" id="valueOfGeneralExpenseInputs" [(ngModel)]="vat.valueOfGeneralExpenseInputs"
          name="valueOfGeneralExpenseInputs" #valueOfGeneralExpenseInputs="ngModel" [disabled]="isDisabled">
      </td>
      <td>
        <input type="number" disabled="true" class="form-control" id="vatOnGeneralExpenseInputs" [(ngModel)]="vat.vatOnGeneralExpenseInputs"
          name="vatOnGeneralExpenseInputs" value="{{vat.valueOfGeneralExpenseInputs * 0.15}}" #vatOnGeneralExpenseInputs="ngModel">
      </td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Purchases With No Vat [80]</td>
      <td>
        <input type="number" class="form-control" id="valueOfPurchasesWithNoVat" [(ngModel)]="vat.valueOfPurchasesWithNoVat" name="valueOfPurchasesWithNoVat"
          #valueOfPurchasesWithNoVat="ngModel" [disabled]="isDisabled">
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Value Of Total Inputs [85] </td>
      <td>
        <input type="number" class="form-control" id="valueOfTotalInputs" placeholder="[Lines 50+60+70+80]" [(ngModel)]="vat.valueOfTotalInputs"
          name="valueOfTotalInputs" value="{{vat.valueOfLocalPurchasesInput + vat.valueOfImportedInputs + vat.valueOfGeneralExpenseInputs + vat.valueOfPurchasesWithNoVat}}"
          #valueOfTotalInputs="ngModel" disabled="true">
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Value Of Taxable Inputs [90]</td>
      <td>
        <input type="number" class="form-control" placeholder=" [Lines 50+60+70]" id="valueOfTaxableInputs" [(ngModel)]="vat.valueOfTaxableInputs"
          name="valueOfTaxableInputs" value="{{vat.valueOfLocalPurchasesInput + vat.valueOfImportedInputs + vat.valueOfGeneralExpenseInputs}}"
          #valueOfTaxableInputs="ngModel" disabled="true">
      </td>
      <td>
        <input type="number" class="form-control" id="TotalInputTaxCredit" [(ngModel)]="vat.TotalInputTaxCredit" name="TotalInputTaxCredit"
          #TotalInputTaxCredit="ngModel">
      </td>
    </tr>
  </table>
  <table style="width: 85%">
    <th style="background-color: cornflowerblue; height: 30px; color: #ffffff" colspan="100"></th>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td style="text-align: right" translate>Vat Due For Month [110]</td>
      <td>
        <input type="number" class="form-control" id="netVatDueForMonth" placeholder="Line 30 - Line 90" [(ngModel)]="vat.netVatDueForMonth"
          name="netVatDueForMonth" disabled="true" value="{{ (vat.valueOfTaxableGoodsAndSupplies + vat.valueOfZeroRatedGoods+ vat.vlueOfExemptSupplies + vat.valueOfRemittedSupplies) - (vat.valueOfLocalPurchasesInput + vat.valueOfImportedInputs + vat.valueOfGeneralExpenseInputs)}}"
          #netVatDueForMonth="ngModel">
      </td>
    </tr>
  </table>
  <table style="width: 85%">
    <th style="background-color: cornflowerblue; height: 30px; color: #ffffff" colspan="100"></th>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td style="text-align: right" translate>Other Credits For Month [120]</td>
      <td>
        <input type="number" class="form-control" id="otherCreditsForMonth" [(ngModel)]="vat.otherCreditsForMonth" name="otherCreditsForMonth"
          #otherCreditsForMonth="ngModel" [disabled]="isDisabled">
      </td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Credits Carried Forward From Previous Month [125]</td>
      <td>
        <input type="number" class="form-control" id="creditCarriedForwardFromPreviousMonth" [(ngModel)]="vat.oreditCarriedForwardFromPreviousMonth"
          name="creditCarriedForwardFromPreviousMonth" #creditCarriedForwardFromPreviousMonth="ngModel" [disabled]="isDisabled">
      </td>
    </tr>
    <tr>
      <td style="text-align: right" translate> VAT withholding by Government Agencies [130]</td>

      <td>
        <input type="number" class="form-control" id="VatwithholdingByGovernmentAgencies" [(ngModel)]="vat.VatwithholdingByGovernmentAgencies"
          name="VatwithholdingByGovernmentAgencies" #VatwithholdingByGovernmentAgencies="ngModel" [disabled]="isDisabled">
      </td>
    </tr>
    <tr>
      <td style="text-align: right" translate> VAT on Government Vouchers [140]</td>

      <td>
        <input type="number" class="form-control" id="VATonGovernmentVouchers" [(ngModel)]="vat.VATonGovernmentVouchers" name="VATonGovernmentVouchers"
          #VATonGovernmentVouchers="ngModel" [disabled]="isDisabled">
      </td>
    </tr>
    <tr>
      <td style="text-align: right" translate>Amount To Be Paid [150]</td>

      <td>
        <input type="number" disabled="true" class="form-control" id="amountToBePaid" [(ngModel)]="vat.amountToBePaid" name="amountToBePaid" value="{{((vat.valueOfTaxableGoodsAndSupplies + vat.valueOfZeroRatedGoods+ vat.vlueOfExemptSupplies + vat.valueOfRemittedSupplies) - (vat.valueOfLocalPurchasesInput + vat.valueOfImportedInputs + vat.valueOfGeneralExpenseInputs)) - (vat.otherCreditsForMonth + vat.oreditCarriedForwardFromPreviousMonth + vat.VatwithholdingByGovernmentAgencies)}}"
          #amountToBePaid="ngModel" >
      </td>
      
    </tr>
  </table>
  
  <div class="col-sm-1">
    <button type="button" class="btn btn-primary" (click)="addVat(); addVatForm.reset()" [disabled]="!addVatForm.form.valid" translate>Submit</button>
   <!-- <button type="button" class="btn btn-primary" (click)="generatePdf() ">generatePdf</button> -->
  </div>

</form>
<!--<div class="column">
  <div class="form-inline">
    <label for="valueOfTaxableGoodsAndSupplies" class="control-label col-sm-7 "> Value Of Taxable Goods And Supplies [5] </label>

    <div class="col-sm-1">

    </div>
  </div>
  <div class="form-inline">
    <label for="valueOfZeroRatedGoods" class="control-label col-sm-7">Zero-Rated Sales/Suplier [15] </label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="valueOfZeroRatedGoods" required [(ngModel)]="vat.valueOfZeroRatedGoods" name="valueOfZeroRatedGoods"
        #valueOfZeroRatedGoods="ngModel">
    </div>
  </div>

  <div class="form-inline">
    <label for="vlueOfExemptSupplies" class="control-label col-sm-7">Tax-Exempt Sales/Supplies [20]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="vlueOfExemptSupplies" [(ngModel)]="vat.vlueOfExemptSupplies" name="vlueOfExemptSupplies"
        #vlueOfExemptSupplies="ngModel">
    </div>
  </div>

  <div class="form-inline ">
    <label for="valueOfRemittedSupplies" class="control-label col-sm-7">Remitted Supplies [25]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control input-group-sm" id="valueOfRemittedSupplies" [(ngModel)]="vat.valueOfRemittedSupplies"
        name="valueOfRemittedSupplies" #valueOfRemittedSupplies="ngModel">
    </div>
  </div>

  <div class="form-inline">
    <label for="totalSupplies" class="control-label col-sm-7">Total Supplies/Sales [30]</label>
    <div class="col-sm-1">
      <input type="number" disabled="true" placeholder="Line[5+15+20+25]" class="form-control" id="totalSupplies" [(ngModel)]="vat.totalSupplies"
        name="totalSupplies" #totalSupplies="ngModel">
    </div>
  </div>

  <div class="form-inline">
    <label for="valueOfLocalPurchasesInput" class="control-label col-sm-7">Local Purchases Input [50]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="valueOfLocalPurchasesInput" [(ngModel)]="vat.valueOfLocalPurchasesInput" name="valueOfLocalPurchasesInput"
        #valueOfLocalPurchasesInput="ngModel">
    </div>
  </div>

  <div class="form-inline">
    <label for="valueOfImportedInputs" class="control-label col-sm-7">Imported Inputs [60]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="valueOfImportedInputs" [(ngModel)]="vat.valueOfImportedInputs" name="valueOfImportedInputs"
        #valueOfImportedInputs="ngModel">
    </div>
  </div>

  <div class="form-inline ">
    <label for="valueOfGeneralExpenseInputs" class="control-label col-sm-7">General Expense Inputs [70]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="valueOfGeneralExpenseInputs" [(ngModel)]="vat.valueOfGeneralExpenseInputs"
        name="valueOfGeneralExpenseInputs" #valueOfGeneralExpenseInputs="ngModel">
    </div>
  </div>

  <div class="form-inline">
    <label for="valueOfPurchasesWithNoVat" class="control-label col-sm-7">Purchases With No Vat [80]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="valueOfPurchasesWithNoVat" [(ngModel)]="vat.valueOfPurchasesWithNoVat" name="valueOfPurchasesWithNoVat"
        #valueOfPurchasesWithNoVat="ngModel">
    </div>
  </div>

  <div class="form-inline">
    <label for="valueOfTotalInputs" class="control-label col-sm-7">Value Of Total Inputs [85] </label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="valueOfTotalInputs" placeholder="[Lines 50+60+70+80]" [(ngModel)]="vat.valueOfTotalInputs"
        name="valueOfTotalInputs" #valueOfTotalInputs="ngModel">
    </div>
  </div>
  <div class="form-inline">
    <label for="valueOfTaxableInputs" class="control-label col-sm-7">Value Of Taxable Inputs [90]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" placeholder=" [Lines 50+60+70]" id="valueOfTaxableInputs" [(ngModel)]="vat.valueOfTaxableInputs"
        name="valueOfTaxableInputs" #valueOfTaxableInputs="ngModel">
    </div>
  </div>
  <div class="form-inline">
    <label for="netVatDueForMonth" class="control-label col-sm-7">Vat Due For Month [110]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="netVatDueForMonth" placeholder="Line 30 - Line 90" [(ngModel)]="vat.netVatDueForMonth"
        name="netVatDueForMonth" #netVatDueForMonth="ngModel">
    </div>
  </div>
  <div class="form-inline">
    <label for="otherCreditsForMonth" class="control-label col-sm-7">Other Credits For Month [120]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="otherCreditsForMonth" [(ngModel)]="vat.otherCreditsForMonth" name="otherCreditsForMonth"
        #otherCreditsForMonth="ngModel">
    </div>
  </div>
  <div class="form-inline">

    <label for="creditCarriedForwardFromPreviousMonth" class="control-label col-sm-7">Credits Carried Forward From Previous Month [125]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="creditCarriedForwardFromPreviousMonth" [(ngModel)]="vat.oreditCarriedForwardFromPreviousMonth"
        name="creditCarriedForwardFromPreviousMonth" #creditCarriedForwardFromPreviousMonth="ngModel">
    </div>
  </div>

  <div class="form-inline">

    <label for="creditAvailableForcarryForward" class="control-label col-sm-7">CreditAvailable For Carry Forward [160]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="creditAvailableForcarryForward" [(ngModel)]="vat.creditAvailableForcarryForward"
        name="creditAvailableForcarryForward" #creditAvailableForcarryForward="ngModel">
    </div>
  </div>

  <div class="form-inline">

    <label for="VatwithholdingByGovernmentAgencies" class="control-label col-sm-7"> VAT withholding by Government Agencies [130]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="VatwithholdingByGovernmentAgencies" [(ngModel)]="vat.VatwithholdingByGovernmentAgencies"
        name="VatwithholdingByGovernmentAgencies" #VatwithholdingByGovernmentAgencies="ngModel">
    </div>
  </div>
  <div class="form-inline">

    <label for="VATonGovernmentVouchers" class="control-label col-sm-7"> VAT on Government Vouchers [140]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="VATonGovernmentVouchers" [(ngModel)]="vat.VATonGovernmentVouchers" name="VATonGovernmentVouchers"
        #VATonGovernmentVouchers="ngModel">
    </div>
  </div>
  <div class="form-inline">

    <label for="amountToBePaid" class="control-label col-sm-7">Amount To Be Paid [150]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="amountToBePaid" [(ngModel)]="vat.amountToBePaid" name="amountToBePaid" #amountToBePaid="ngModel">
    </div>
  </div>
  <div class="form-inline">
    <label class="control-label col-sm-7"></label>
    <div class="col-sm-1">
      <button type="button" class="btn btn-primary" (click)="addVat(); addVatForm.reset()" [disabled]="!addVatForm.form.valid">Submit</button>
    </div>
  </div>
  <br/>
</div>

<div class="column">
  <div class="form-inline">
    <label for="outPutVat" class="control-label col-sm-7 "> Out Put Vat [10] </label>

    <div class="col-sm-1">

    </div>
  </div>
  <div class="form-inline">
    <label for="vatChargeForThisPeriod" class="control-label col-sm-7">Out Put Vat [35]</label>
    <div class="col-sm-1">
      <input type="number" disabled="true" class="form-control" placeholder="=[10]" id="vatChargeForThisPeriod" [(ngModel)]="vat.vatChargeForThisPeriod"
        name="vatChargeForThisPeriod" #vatChargeForThisPeriod="ngModel">
    </div>
  </div>
  <div class="form-inline">

    <label for="vatOnLocalPurchaseInput" class="control-label col-sm-7">Vat On Local Purchase Input [55]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="vatOnLocalPurchaseInput" [(ngModel)]="vat.vatOnLocalPurchaseInput" name="vatOnLocalPurchaseInput"
        #vatOnLocalPurchaseInput="ngModel">
    </div>
  </div>
  <div class="form-inline">
    <label for="vatOnInportedInputs" class="control-label col-sm-7">Vat On Imported Inputs [65]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="vatOnInportedInputs" [(ngModel)]="vat.vatOnInportedInputs" name="vatOnInportedInputs"
        #vatOnInportedInputs="ngModel">
    </div>
  </div>

  <div class="form-inline">

    <label for="vatOnGeneralExpenseInputs" class="control-label col-sm-7">Vat On General Expense Inputs [75]</label>
    <div class="col-sm-1">
      <input type="number" class="form-control" id="vatOnGeneralExpenseInputs" [(ngModel)]="vat.vatOnGeneralExpenseInputs" name="vatOnGeneralExpenseInputs"
        #vatOnGeneralExpenseInputs="ngModel">
    </div>
  </div>
  <div class="form-inline">

    <label for="TotalInputTaxCredit" class="control-label col-sm-7">Total Input Tax Credit [95]</label>
    <div class="col-sm-2">
      <input type="number" class="form-control" id="TotalInputTaxCredit" [(ngModel)]="vat.TotalInputTaxCredit" name="TotalInputTaxCredit"
        #TotalInputTaxCredit="ngModel">
    </div>
  </div>
</div>-->