<!--vat Declaration -->


<form #addVatForm="ngForm" class="form-horizontal">
 
  <table style="width: 85%">
    <th style="background-color:cornflowerblue; color: #ffffff" colspan="100">SCHEDULE A  EMPLOYMENT INCOME TAX DECLARATION</th>
   
   
    <tr>
      <td style="text-align: right">Number of Employees on Your Payroll for this Tax Period[10]</td>
      <td>
        <input type="number" class="form-control" /> </td>
    </tr>
    <tr>
      <td style="text-align: right">Total Taxable Income [20]</td>
      <td>
        <input type="number" class="form-control"/>
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="text-align: right">Total Tax Withheld [30]</td>
      <td>
        <input type="number" class="form-control" />
      </td>
      <td></td>
    </tr>
    
  </table>
  <div class="col-sm-1">
    <button type="button" class="btn btn-primary" (click)="triggerSomeEvent()" [disabled]="!addVatForm.form.valid">Next</button>

  </div>
 <table style="width: 85%">
   <div class="col-sm-1">

     <th>
       <tr>
       <td>
    <button type="button" class="btn btn-primary"  [disabled]="isDisable">ADD</button>
       </td>
    <td>
    <button type="button" class="btn btn-primary"  [disabled]="isDisable">Import Previous</button>
       </td>
    <td>
    <button type="button" class="btn btn-primary"  [disabled]="isDisable">CSV</button>
       </td>
       </tr>
     </th>

  </div>
 </table>


</form>
